extends layout

block content
  .container
    h1= title
    form(ng-submit="addTask()")
      .form-group
        label Name:
        input(type="text", placeholder="Buy Eggs", ng-model="task.name", required).form-control
      .form-group
        label Description:
        input(type="text", placeholder="2 Dozen, for baking", ng-model="task.desc", required).form-control
      .form-group
        label Due:
        input(type="date", ng-model="task.due", required).form-control
      .form-group
        button.btn.btn-success Add Task
    table.table(ng-if="tasks[0]")
      tbody
        tr
          th(ng-click="sortBy('name')") Name
          th(ng-click="sortBy('desc')") Description
          th(ng-click="sortBy('due')") Due
          th Complete
          th Remove
        tr(ng-repeat="task in tasks | orderBy: sort track by $index", ng-class="{complete: task.complete}")
          td {{task.name}}
          td {{task.desc}}
          td {{task.due}}
          td
            input(type="checkbox", ng-model="task.complete", ng-change="toggleComplete(task._id)").checkbox
          td
            button(ng-click="deleteTask()").btn.btn-danger.btn-sm
              span.glyphicon.glyphicon-trash
